.bgimg {
  background-image: url('https://www.heart.org/-/media/aha/h4gm/article-images/fruit-and-vegetables.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.cat{
  background-color: azure;
  font-size: 16px;
  text-align: center;
  margin: 6px 8px 6px 8px;
  padding: 20px;
}
